
profiles {
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    arm64 {        
        process {
            withName: 'MEDAKA_.*' {
                container = 'docker.io/ontresearch/medaka:shac4e11bfa4e65668b28739ba32edc3af12baf7574-arm64'
            }
        }
    }

    hpc {
        env {
            NXF_TEMP = "${System.getenv('HOME')}/scratch/tmp"
        }
        
        apptainer {
            enabled = true
            runOptions = "-B/scratch -B/srv/beegfs/scratch/users -B${System.getenv('HOME')}"
            autoMounts = true
            cacheDir = "${System.getenv('HOME')}/scratch/singularity"
            pullTimeout = '4h'
        }

        process {
            executor = "slurm"
            queue = 'shared-cpu'
            resourceLimits = [ cpus: 32, memory: 64.GB, time: 11.h ]
        }
    }
    
    tiny {
            process {
                resourceLimits = [ cpus: 8, memory: 14.GB, time: 3.h ]
            }
    }
}

