
manifest {
    name            = 'asm-compare'
    contributors    = [
        [
            name: 'Julien Prados',
            affiliation: 'University of Geneva',
            email: 'julien.prados@unige.ch',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0002-8546-241X'
        ]
    ]
    homePage        = 'https://github.com/BioinfoSupport/amr-tools/wf/asm-compare'
    description     = 'Compare 2 assembled genomes'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.10.4'
    version         = 'v0.01'
    doi             = ''
}



// ---------------------------------------
//  Setup
// ---------------------------------------

nextflow.enable.dsl = 2
nextflow.enable.moduleBinaries = true
resume = true

plugins {
  id 'nf-schema@2.4.1'
}
validation.help.enabled = true





// ---------------------------------------
//  Default params values
// ---------------------------------------

params.ref = null
params.alt = null



