
nextflow.enable.dsl = 2
nextflow.enable.moduleBinaries = true
workflow.output.mode = 'copy'
resume = true

plugins {
  id 'nf-schema@2.4.1'
}
validation.help.enabled = true



params.subcommand = null
params.csv = null
params.reads = [long:null,short:[]]
params.assembler = [
	name: 'long_flye_medaka',
	args: [:]
]
params.assemblies = [fasta:null,info:null]
params.reads_filter = [
		long_limit: 1_000_000_000,
		short_limit: 500_000_000,
		chopper_args: '--quality 15 --minlength 200'
]
params.amr_annot = [
	skip: ['prokka','speciator'],
	default_args: [
		prokka: '--kingdom Bacteria',
		MLST: '',     // autodetect species by default
		cgemlst: null // do not run by default
	]
]




process.errorStrategy = 'ignore'
process.shell = ["bash","-C","-e","-u","-o","pipefail"]
process {
    withName: 'FQ_SUBSAMPLE_LONG' {
        ext.bp_limit = params.reads_filter.long_limit
    }
    withName: 'FQ_SUBSAMPLE_SHORT' {
        ext.bp_limit = params.reads_filter.short_limit
    }
    withName: 'CHOPPER_LONG' {
        ext.args = params.reads_filter.chopper_args
    }
    withName: 'FLYE' {
        ext.args = params.assembler.args.flye
    }
    withName: 'MEDAKA_CONSENSUS' {
        ext.args = params.assembler.args.medaka
    }
    withName: 'SPADES' {
        ext.args = params.assembler.args.spades
    }
    withName: 'UNICYCLER' {
        ext.args = params.assembler.args.unicycler
    }
    withName: 'HYBRACTER' {
        ext.args = params.assembler.args.hybracter
    }
}


includeConfig './assets/config/profiles.config'



manifest {
    name            = 'amr-tools'
    contributors    = [
        [
            name: 'Julien Prados',
            affiliation: '',
            email: 'julien.prados@unige.ch',
            github: '',
            contribution: ['author', 'maintainer'],
            orcid: ''
        ],
    ]
    homePage        = 'https://gitlab.unige.ch/amr-tools'
    description     = 'Run Read Sequence Quality Controls'
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.10.0'
    version         = 'v0.1'
    doi             = ''
}

