
nextflow.enable.dsl = 2
nextflow.enable.moduleBinaries = true
workflow.output.mode = 'copy'
resume = true

plugins {
  id 'nf-schema@2.4.1'
}
validation.help.enabled = true





// ---------------------------------------
//  Set default params values
// ---------------------------------------

params.subcommand = null
params.csv = null
params.reads = [long:null,short:[]]
params.assembler = [
	name: 'long_flye_medaka',
	args: [
		flye  : null,
		medaka: '--bacteria'
	]
]
params.assemblies = [fasta:null,info:null]
params.reads_filter = [
		long_limit: 1_000_000_000,
		short_limit: 1_000_000_000,
		chopper_args: '--quality 15 --minlength 200'
]
params.amr = [
	skip: [
		plasmidfinder_longread  : false,
		resfinder_longread      : false,
		plasmidfinder_shortread : false,
		resfinder_shortread     : false,
	  speciator               : true,
	  orgfinder               : false,
	  prokka                  : true,
		mobtyper                : false,
		plasmidfinder           : false,
		MLST                    : false,
		amrfinderplus           : false,
		resfinder               : false,
		cgemlst                 : false
	],
	args: [
		prokka        : '--kingdom Bacteria',
		mobtyper      : '',
		plasmidfinder : '',
		MLST          : '', // '' to autodetect species
		amrfinderplus : '',
		resfinder     : '',
		cgemlst       : ''
	]
]


// ---------------------------------------
//  Configure processes
// ---------------------------------------

process.errorStrategy = 'ignore'
process.shell = ["bash","-C","-e","-u","-o","pipefail"]
process {
    withName: 'FQ_SUBSAMPLE_LONG' {
      ext.bp_limit = params.reads_filter.long_limit
    }
    withName: 'FQ_SUBSAMPLE_SHORT' {
      ext.bp_limit = params.reads_filter.short_limit
    }
    withName: 'CHOPPER_LONG' {
      ext.args = params.reads_filter.chopper_args
    }
    withName: 'FLYE' {
      ext.args = params.assembler.args.flye
    }
    withName: 'MEDAKA_CONSENSUS' {
      ext.args = params.assembler.args.medaka
    }
    withName: 'SPADES' {
      ext.args = params.assembler.args.spades
    }
    withName: 'UNICYCLER' {
      ext.args = params.assembler.args.unicycler
    }
    withName: 'HYBRACTER' {
      ext.args = params.assembler.args.hybracter
    }
    withName: 'PROKKA' {
    	ext.args = params.amr.args.prokka
    }
    withName: 'MOBTYPER' {
    	ext.args = params.amr.args.mobtyper
    }
    withName: 'PLASMIDFINDER' {
    	ext.args = params.amr.args.plasmidfinder
    }
    withName: 'MLST' {
    	ext.args = params.amr.args.MLST
    }
    withName: 'AMRFINDERPLUS_RUN' {
    	ext.args = params.amr.args.amrfinderplus
    }
    withName: 'RESFINDER' {
    	ext.args = params.amr.args.resfinder
    }
    withName: 'CGEMLST' {
    	ext.args = params.amr.args.cgemlst
    }
}



// ---------------------------------------
//  Define profiles
// ---------------------------------------

profiles {
  standard {
    docker {
      enabled = true
      runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
    }
  }

  arm64 {
    process {
      withName: 'MEDAKA_.*' {
	      container = 'docker.io/ontresearch/medaka:shac4e11bfa4e65668b28739ba32edc3af12baf7574-arm64'
      }
    }
  }

  hpc {
    env {
      NXF_TEMP = "${System.getenv('HOME')}/scratch/tmp"
    }
    apptainer {
      enabled = true
      runOptions = "-B/scratch -B/srv/beegfs/scratch/users -B${System.getenv('HOME')}"
      autoMounts = true
      cacheDir = "${System.getenv('HOME')}/scratch/singularity"
      pullTimeout = '4h'
    }
    process {
      executor = "slurm"
      queue = 'shared-cpu'
      resourceLimits = [ cpus: 32, memory: 64.GB, time: 11.h ]
    }
  }

	oom {
		process {
	    withName: 'CHOPPER' {
        memory = '16 GB'
		    time   = '2 h'
	    }
		}	
	}
	
  tiny {
    process {
      resourceLimits = [ cpus: 8, memory: 14.GB, time: 3.h ]
    }
  }
}



// ---------------------------------------
//  Manifest
// ---------------------------------------

manifest {
    name            = 'amr-tools'
    contributors    = [
        [
            name: 'Julien Prados',
            affiliation: '',
            email: 'julien.prados@unige.ch',
            github: '',
            contribution: ['author', 'maintainer'],
            orcid: ''
        ],
    ]
    homePage        = 'https://gitlab.unige.ch/amr-tools'
    description     = 'Run Read Sequence Quality Controls'
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.10.0'
    version         = 'v0.1'
    doi             = ''
}

