
nextflow.enable.dsl = 2
nextflow.enable.moduleBinaries = true
workflow.output.mode = 'link'
resume = true

plugins {
  id 'nf-schema@2.4.1'
}
validation.help.enabled = true





// ---------------------------------------
//  Set default params values
// ---------------------------------------

params.subcommand = null
params.csv = null
params.reads = [long:null,short:[]]
params.assembler = [
	name: 'long_flye_medaka',
	args: [
		flye  : null,
		medaka: '--bacteria'
	]
]
params.assemblies = [
	fasta : null,
	info  : null
]
params.assemblies_qc = [
	checkm2: [
		skip : false,
		db   : null,
		args : ''
	]
]
params.reads_filter = [
    skip: false,
		long_limit: 1_000_000_000,
		short_limit: 1_000_000_000,
		chopper_args: '--quality 15 --minlength 200'
]
params.reads_qc = [
    skip: false
]
params.amr = [
	orgfinder: [
		skip : false,
		args : ''
	],
	speciator: [
		skip : true,
		args : ''
	],
	amrfinderplus: [
		skip : false,
		args : ''
	],
	mobtyper: [
		skip : false,
		args : ''
	],	
	plasmidfinder: [
		skip           : false,
		skip_longread  : false,
		skip_shortread : false,
		args           : ''
	],
	resfinder: [
		skip           : false,
		skip_longread  : false,
		skip_shortread : false,
		args           : ''
	],
	cgemlst: [
		skip : false,
		args : ''
	],
	MLST: [
		skip : false,
		args : '' // '' to autodetect species
	],	
	prokka: [
		skip : true,
		args : '--kingdom Bacteria'
	]
]


// ---------------------------------------
//  Configure processes
// ---------------------------------------

process.errorStrategy = 'ignore'
process.shell = ["bash","-C","-e","-u","-o","pipefail"]
process.maxRetries = 2
process {
    withName: 'FQ_SUBSAMPLE_LONG' {
      ext.bp_limit = params.reads_filter.long_limit
    }
    withName: 'FQ_SUBSAMPLE_SHORT' {
      ext.bp_limit = params.reads_filter.short_limit
    }
    withName: 'CHOPPER_LONG' {
	    ext.args = params.reads_filter.chopper_args
	    errorStrategy = { task.attempt<2 ? 'retry' : 'ignore' }
	    time          = { 1.hour + (1.hour * (task.attempt - 1)) }
	    memory        = { 4.GB + (12.GB * (task.attempt - 1)) }
    }
    withName: 'FLYE' {
      ext.args = params.assembler.args.flye
    }
    withName: 'MEDAKA_CONSENSUS' {
      ext.args = params.assembler.args.medaka
    }
    withName: 'SPADES' {
      ext.args = params.assembler.args.spades
    }
    withName: 'UNICYCLER' {
      ext.args = params.assembler.args.unicycler
    }
    withName: 'HYBRACTER' {
      ext.args = params.assembler.args.hybracter
    }
    withName: 'PROKKA' {
    	ext.args = params.amr.prokka.args
    }
    withName: 'MOBTYPER' {
    	ext.args = params.amr.mobtyper.args
	    errorStrategy = { task.attempt<2 ? 'retry' : 'ignore' }
	    time          = { 30.min + (1.hour * (task.attempt - 1)) }
	    memory        = { 10.GB + (10.GB * (task.attempt - 1)) }    	
    }
    withName: 'PLASMIDFINDER' {
    	ext.args = params.amr.plasmidfinder.args
    }
    withName: 'MLST' {
    	ext.args = params.amr.MLST.args
    }
    withName: 'AMRFINDERPLUS_RUN' {
    	ext.args = params.amr.amrfinderplus.args
    }
    withName: 'RESFINDER' {
    	ext.args = params.amr.resfinder.args
    }
    withName: 'CGEMLST' {
    	ext.args = params.amr.cgemlst.args
    }
    withName: 'ORGFINDER_DETECT' {
    	ext.args = params.amr.orgfinder.args
    }
    withName: 'SPECIATOR' {
    	ext.args = params.amr.speciator.args
    }
    withName: 'CHECKM2_PREDICT' {
    	ext.args = params.assemblies_qc.checkm2.args
	    errorStrategy = { task.attempt<2 ? 'retry' : 'ignore' }
	    time          = { 30.min + (1.hour * (task.attempt - 1)) }
	    memory        = { 8.GB + (8.GB * (task.attempt - 1)) }    	
    }
    withName: 'BWA_MEM' {
	    errorStrategy = { task.attempt<2 ? 'retry' : 'ignore' }
	    time          = { 1.hour + (1.hour * (task.attempt - 1)) }
	    memory        = { 8.GB + (8.GB * (task.attempt - 1)) }
    }
    withName: 'UNICYCLER_RUN' {
	    errorStrategy = { task.attempt<2 ? 'retry' : 'ignore' }
	    time          = { 4.hour + (8.hour * (task.attempt - 1)) }
	    memory        = { 20.GB + (20.GB * (task.attempt - 1)) }
    }
}



// ---------------------------------------
//  Define profiles
// ---------------------------------------

profiles {
  standard {
    docker {
      enabled = true
      runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
    }
  }

  arm64 {
    process {
      withName: 'MEDAKA_.*' {
	      container = 'docker.io/ontresearch/medaka:shac4e11bfa4e65668b28739ba32edc3af12baf7574-arm64'
      }
    }
  }

  hpc {
    env {
      NXF_TEMP = "${System.getenv('HOME')}/scratch/tmp"
    }
    apptainer {
      enabled = true
      runOptions = "-B/scratch -B/srv/beegfs/scratch/users -B${System.getenv('HOME')}"
      autoMounts = true
      cacheDir = "${System.getenv('HOME')}/scratch/singularity"
      pullTimeout = '4h'
    }
    process {
      executor = "slurm"
      queue = 'shared-cpu'
      resourceLimits = [ cpus: 32, memory: 64.GB, time: 11.h ]
    }
    process {
	    withName: 'ORGANIZE_FILES|COPY_SHORT_READS|COPY_LONG_READS|COPY_ASSEMBLY_FASTA' {
	    	executor = "local"
	    }
	  }
  }

  tiny {
    process {
      resourceLimits = [ cpus: 8, memory: 14.GB, time: 3.h ]
    }
  }
}



// ---------------------------------------
//  Manifest
// ---------------------------------------

manifest {
    name            = 'amr-tools'
    contributors    = [
        [
            name: 'Julien Prados',
            affiliation: '',
            email: 'julien.prados@unige.ch',
            github: '',
            contribution: ['author', 'maintainer'],
            orcid: ''
        ],
    ]
    homePage        = 'https://gitlab.unige.ch/amr-tools'
    description     = 'Run Read Sequence Quality Controls'
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.10.0'
    version         = 'v0.1'
    doi             = ''
}

