
manifest {
    name            = 'gtf2gff'
    contributors    = [
        [
            name: 'Julien Prados',
            affiliation: 'University of Geneva',
            email: 'julien.prados@unige.ch',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0002-8546-241X'
        ]
    ]
    homePage        = 'https://github.com/BioinfoSupport/amr-tools/wf/gtf2gff'
    description     = 'Convert a GTF from a NCBI bacterial genome into a GFF compatible with "bcftools csq", considering CDS lines only'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.10.4'
    version         = 'v0.01'
    doi             = ''
}

// ---------------------------------------
//  Setup
// ---------------------------------------

nextflow.enable.dsl = 2
nextflow.enable.moduleBinaries = true
workflow.output.mode = 'link'
resume = true

plugins {
  id 'nf-schema@2.4.1'
}



// ---------------------------------------
//  Default params values
// ---------------------------------------
params.gtf = null


process.shell = ["bash","-C","-e","-u","-o","pipefail"]

// ---------------------------------------
//  Define profiles
// ---------------------------------------

profiles {
  standard {
    docker {
      enabled = true
      runOptions = "--user \$(id -u):\$(id -g) --group-add 100 --platform linux/amd64"
    }
  }

  test {
    params.gtf = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/014/365/GCF_000014365.2_ASM1436v2/GCF_000014365.2_ASM1436v2_genomic.gtf.gz"
  }
}





