
manifest {
    name            = 'asm-compare'
    contributors    = [
        [
            name: 'Julien Prados',
            affiliation: 'University of Geneva',
            email: 'julien.prados@unige.ch',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0002-8546-241X'
        ]
    ]
    homePage        = 'https://github.com/BioinfoSupport/amr-tools/wf/asm-compare'
    description     = 'Compare 2 assembled genomes'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.10.4'
    version         = 'v0.01'
    doi             = ''
}



// ---------------------------------------
//  Setup
// ---------------------------------------

nextflow.enable.dsl = 2
nextflow.enable.moduleBinaries = true
workflow.output.mode = 'link'
resume = true

plugins {
  id 'nf-schema@2.4.1'
}
validation.help.enabled = true



// ---------------------------------------
//  Default params values
// ---------------------------------------

params.ref = null
params.query = null
params.rotate_query = true


process.shell = ["bash","-C","-e","-u","-o","pipefail"]
process {
    withName: 'MINIMAP2_ALIGN_ASM5' {
    	ext.args = '-z1000000 -p 0.1 -Y --cs -a'
    }
    withName: 'BCFTOOLS_ASM5_MPILEUP' {
    	ext.args = '--no-BAQ --indel-size 1000 --ff=UNMAP --ambig-reads=drop --gap-frac=0 --min-ireads=0'
    }
    
}



// ---------------------------------------
//  Define profiles
// ---------------------------------------

profiles {
  standard {
    docker {
      enabled = true
      runOptions = "--user \$(id -u):\$(id -g) --group-add 100 --platform linux/amd64"
    }
  }

  test {
    params.ref   = "${projectDir}/tests/assets/CP047704.1.fasta"
    params.query = "${projectDir}/tests/assets/*.fasta"
  }

}





