
manifest {
    name            = 'orgfinder'
    contributors    = [
        [
            name: 'Julien Prados',
            affiliation: 'University of Geneva',
            email: 'julien.prados@unige.ch',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0002-8546-241X'
        ]
    ]
    homePage        = 'https://github.com/BioinfoSupport/amr-tools/wf/asm-compare'
    description     = 'Detect assemblies organism by computing ANI with a reference database'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.10.4'
    version         = 'v0.01'
    doi             = ''
}

// ---------------------------------------
//  Setup
// ---------------------------------------

nextflow.enable.dsl = 2
nextflow.enable.moduleBinaries = true
//workflow.output.mode = 'link'
resume = true

plugins {
  id 'nf-schema@2.4.1'
}



// ---------------------------------------
//  Default params values
// ---------------------------------------

params.query = null
params.ref = null

process.shell = ["bash","-C","-e","-u","-o","pipefail"]
/*
	process {
	    withName: 'FASTANI' {
	    	ext.args = ''
	    }
	}
*/

// ---------------------------------------
//  Define profiles
// ---------------------------------------

profiles {
  standard {
    docker {
      enabled = true
      runOptions = "--user \$(id -u):\$(id -g) --group-add 100 --platform linux/amd64"
    }
  }

  test {
    params.query = "${projectDir}/assets/tests/*.fasta"
    params.ref = "${projectDir}/assets/tests/*.fasta"
  }

}





