
nextflow.enable.dsl = 2
nextflow.enable.moduleBinaries = true
workflow.output.mode = 'copy'
resume = true

plugins {
  id 'nf-schema@2.4.1'
}
validation.help.enabled = true

process.errorStrategy = 'ignore'
process.shell = ["bash","-C","-e","-u","-o","pipefail"]

includeConfig './assets/config/profiles.config'

manifest {
    name            = 'amr-tools/seq_qc'
    contributors    = [
        [
            name: 'Julien Prados',
            affiliation: '',
            email: 'julien.prados@unige.ch',
            github: '',
            contribution: ['author', 'maintainer'],
            orcid: ''
        ],
    ]
    homePage        = 'https://gitlab.unige.ch/amr-assemble'
    description     = 'Run Read Sequence Quality Controls'
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.10.0'
    version         = 'v0.1'
    doi             = ''
}

